<div id="<%= dom_id contract %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Job name:</strong>
    <%= link_to contract.job_name, contract %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Job number:</strong>
    <%= contract.job_number %>
  </p>

  <% if action_name != "show" %>
    <%= link_to 'Edit this contract', edit_contract_path(contract), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>

  <%= link_to "Add elevator", new_contract_elevator_path(contract), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" if action_name == 'show' %>

</div>
