
<aside class="bg-gray-sapi w-40 overflow-y-auto">

  <%# this code was initially design to iterate over the work_statuses however it wont work  %>
  <%# because i need a svg_icon for each status %>

  <%# <% @work_statuses.each_key do |status| %>
    <%# <%= link_to status.capitalize, contracts_path(work_status: status) %>
    <%# <br> %>
  <%# <% end %>

  <%# this code works but it's not dynamic %>

  <div class="flex items-center">
    <%= link_to contracts_path(work_status: "preliminar") do %>
      <%= svg_tag "copy-regular", style: "color: #1a5294; font-size: 30px; margin: 0 15px;" %>
    <% end %>
    <%= link_to "PRELIMINAR", contracts_path(work_status: "preliminar"), class: "text-xs -ml-2", style: "color: #1a5294;" %>
  </div>
  <div class="flex items-center mt-4">
    <%= link_to contracts_path(work_status: "preliminar") do %>
      <%= svg_tag "house", style: "color: #1a5294; font-size: 30px; margin: 0 15px;" %>
    <% end %>
    <%= link_to "MARKUPS", contracts_path(work_status: "markups"), class: "text-xs -ml-2", style: "color: #1a5294;" %>
  </div>
  <div class="flex items-center mt-4">
    <%= link_to contracts_path(work_status: "final") do %>
      <%= svg_tag "house", style: "color: #1a5294; font-size: 30px; margin: 0 15px;" %>
    <% end %>
    <%= link_to "FINAL", contracts_path(work_status: "final"), class: "text-xs -ml-2", style: "color: #1a5294;" %>
  </div>
  <div class="flex items-center mt-4">
    <%= link_to contracts_path(work_status: "buyout") do %>
      <%= svg_tag "house", style: "color: #1a5294; font-size: 30px; margin: 0 15px;" %>
    <% end %>
    <%= link_to "BUYOUT", contracts_path(work_status: "buyout"), class: "text-xs -ml-2", style: "color: #1a5294;" %>
  </div>
  <div class="flex items-center mt-4">
    <%= link_to contracts_path(work_status: "others") do %>
      <%= svg_tag "house", style: "color: #1a5294; font-size: 30px; margin: 0 15px;" %>
    <% end %>
    <%= link_to "OTHERS", contracts_path(work_status: "others"), class: "text-xs -ml-2", style: "color: #1a5294;" %>
  </div>
  <div class="flex items-center mt-4">
    <%= link_to contracts_path(work_status: "waiting") do %>
      <%= svg_tag "house", style: "color: #1a5294; font-size: 30px; margin: 0 15px;" %>
    <% end %>
    <%= link_to "WAITING", contracts_path(work_status: "waiting"), class: "text-xs -ml-2", style: "color: #1a5294;" %>
  </div>
  <div class="flex items-center mt-4">
    <%= link_to contracts_path(work_status: "customer") do %>
      <%= svg_tag "house", style: "color: #1a5294; font-size: 30px; margin: 0 15px;" %>
    <% end %>
    <%= link_to "CUSTOMER", contracts_path(work_status: "customer"), class: "text-xs -ml-2", style: "color: #1a5294;" %>
  </div>
</aside>
  