<div id="<%= dom_id elevator %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Customer name:</strong>
    <%= elevator.customer_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Selling price:</strong>
    <%= elevator.selling_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= elevator.type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= elevator.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subdivision:</strong>
    <%= elevator.subdivision %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Eng required estimate:</strong>
    <%= elevator.eng_required_estimate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Eng required programming:</strong>
    <%= elevator.eng_required_programming %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Actual start:</strong>
    <%= elevator.actual_start %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Actual end:</strong>
    <%= elevator.actual_end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contract:</strong>
    <%= elevator.contract_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Work status:</strong>
    <%= elevator.work_status_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this elevator", elevator, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this elevator', edit_elevator_path(elevator), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
