<div id="<%= dom_id elevator %>">

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= elevator.elevator_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= elevator.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subdivision:</strong>
    <%= elevator.subdivision %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contract:</strong>
    <%= elevator.contract_id %>
  </p>

  <% if action_name != "show" %>
    <%#= link_to "Show this elevator", contract_elevator_path(@contract, @elevator), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%#= link_to 'Edit this elevator', edit_contract_elevator_path(@contract, @elevator), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
