<div id="<%= dom_id elevator %>" class="bg-white p-6 rounded-lg shadow-lg w-full mx-auto mt-10">

  <h2 class="text-2xl font-bold mb-6 text-center">Elevator Details</h2>

  <div class="mb-5">
    <strong class="block font-medium mb-2 text-gray-600">Type:</strong>
    <span class="text-gray-800"><%= elevator.elevator_type %></span>
  </div>

  <div class="mb-5">
    <strong class="block font-medium mb-2 text-gray-600">Description:</strong>
    <span class="text-gray-800"><%= elevator.description %></span>
  </div>

  <div class="mb-5">
    <strong class="block font-medium mb-2 text-gray-600">Subdivision:</strong>
    <span class="text-gray-800"><%= elevator.subdivision %></span>
  </div>

  <div class="mb-5">
    <strong class="block font-medium mb-2 text-gray-600">Contract:</strong>
    <span class="text-gray-800"><%= elevator.contract_id %></span>
  </div>
  
</div>
