<div id="<%= dom_id quality_issue %>" class="h-[460px] bg-white p-6 rounded-lg shadow-lg mt-10 mr-4">

  <h2 class="text-blue-600 text-2xl font-bold mb-6 text-center"><%= link_to "Quality Issue Details", quality_issue_path(quality_issue) %></h2>

  <h2 class="text-xl font-bold mb-6 text-center text-blue-400 underline"><%= link_to quality_issue.contract.customer_name.truncate_words(3), contract_path(quality_issue.contract) %></h2>

  <div class="flex mb-2 items-center">
    <span class="font-medium mb-2 text-gray-600 w-44">Contract Number:</span>
    <span><%= link_to quality_issue.contract.job_number, contract_path(quality_issue.contract) %></span>
  </div>

  <div class="flex mb-2 items-center">
    <span class="font-medium mb-2 text-gray-600 w-44">Date:</span>
    <span class="text-gray-800 w-32"><%= quality_issue.date %></span>
  </div>

  <div class="flex mb-2 items-center">
    <span class="font-medium mb-2 text-gray-600 w-44">Description:</span>
    <span class="text-gray-800 w-32"><%= quality_issue.description %></span>
  </div>

  <div class="flex mb-2 items-center">
    <span class="font-medium mb-2 text-gray-600 w-44">Severity:</span>
    <span class="text-gray-800 w-32"><%= quality_issue.severity %></span>
  </div>

  <div class="flex mb-2 items-center">
    <span class="font-medium mb-2 text-gray-600 w-44">Resolved At:</span>
    <p><%= quality_issue.resolved_at ? quality_issue.resolved_at.strftime("%d/%m/%Y") : "Not Resolved" %></p>
  </div>

  <div class="flex mb-2 items-center">
    <span class="font-medium mb-2 text-gray-600 w-44">Severity:</span>
    <p><%= quality_issue.severity.humanize %></p>
  </div>

</div>
