<!DOCTYPE html>
<html>
  <head>
    <title>SapiEevint</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="flex flex-col">

      <%# move this to partial <%= render "shared/flashes" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%# move this to partial %>
      <div data-controller="modal" class="lg:hidden fixed z-20 w-full h-full bg-black bg-opacity-70 text-white flex flex-col  p-6">
        <p data-modal-target="list" class="text-center mb-4 w-44 mt-24 ml-16">Notice: This web app is not optimized for mobile devices. For the best experience, please use a desktop or laptop.</p>
        <button data-action="click->modal#close" class="close-btn bg-red-500 hover:bg-red-600 px-4 py-2 rounded focus:outline-none w-44 mt-2 ml-16">Close</button>
      </div>
      <%= render partial: "layouts/navbar" unless action_name == "home" && controller_name == "contracts" %>
        <div class="flex flex-row">
          <%= yield %>
        </div>
        <%= turbo_frame_tag "modal" %>
    </div>
  </body>
</html>
