<!DOCTYPE html>
<html>
  <head>
    <title>SapiEevint</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="flex flex-col">
      <%= render partial: "layouts/navbar" unless action_name == "home" && controller_name == "contracts" %>
        <div class="flex flex-row">
          <%= yield %>
        </div>
        <%= turbo_frame_tag "modal" %>
    </div>
  </body>
</html>
